.home{
    position: relative;
    background-color: var(--color_Dark1);
    left: 260px;
    width: calc(100% - 260px);
    height: 100vh;
    transition: all .5s ease;
}
.sidebar.close ~ .home{
    left: 20px;
    width: calc(100% - 20px);
}
.home .toggle-sidebar{
    height: 140px;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}
.home .toggle-sidebar i{
    font-size: 35px;
    color: var(--color_Light2);
    margin-left: 120px;
}
.home .toggle-sidebar .text{
    font-size: 30px;
    color: var(--color_Light2);
    font-weight: 600;
}


.block_sku .rectangle {
    position: absolute;
    width: 350px;
    height: 150px;
    left: 550px;
    top: 160px;
    background: #30353E;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #CFC8FF;
}

.block .textsku {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 570px;
    top: 180px;
    width: 300px;
    text-align: center;
}
.block .textskutwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 720px;
    top: 250px;
    text-align: center;
}





.block_vp .rectangle {
    position: absolute;
    width: 350px;
    height: 150px;
    left: 930px;
    top: 160px;
    background: #30353E;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #CFC8FF;

}
.block .textvp {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 950px;
    top: 180px;
    width: 300px;
    text-align: center;
}
.block .textvptwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 1090px;
    top: 250px;
    text-align: center;
}






.block_vm .rectangle {
    position: absolute;
    width: 350px;
    height: 150px;
    left: 1310px;
    top: 160px;
    border-style: solid;
    border-width: 2px;
    border-color: #CFC8FF;
    background: #30353E;
    border-radius: 20px;

}
.block .textvm {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 1335px;
    top: 180px;
    width: 300px;
    text-align: center;
}
.block .textvmtwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 1390px;
    top: 220px;
    width: 200px;
    text-align: center;
}



.textfintotal {
    position:absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 130px;
    top: 160px;
    font-weight: 800;
    width: 250px;

}


.textfintotaltitles {
    position:absolute;
    color: #c4c4c4;
    font-size: 16px;
    left: 130px;
    top: 230px;
    font-weight: 400;
    width: 400px;

}









.accaunt .textname {
    position:fixed;
    color: #c4c4c4;
    font-size: 20px;
    left: 1675px;
    top: 60px;
    font-weight: 400;
}
.accauntimage {
    position: fixed;
    left: 1840px;
    top: 45px;
}



.bordertable {
    position: absolute;
    width: 1750px;
    height: 550px;
    left: 130px;
    top: 400px;
    border-radius: 20px;
    border: 2px solid #30353E

}


/*=================== Table Financial Total =============*/
/*=================== Рентабельность затрат 11111=============*/

.rentabzatrat .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 150px;
    top: 420px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;


}
.ftotal .textrentabzatrat {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 150px;
    top: 460px;
    width: 300px;
    text-align: center;
}
.ftotal .textrentabzatrattwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 190px;
    top: 500px;
    width: 200px;
    text-align: center;
}


/*========================= Рентабельность продаж 22222============================*/


.rentabprodazh .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 500px;
    top: 420px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;

}
.ftotal .textrentabprodazh {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 500px;
    top: 460px;
    width: 300px;
    text-align: center;
}
.ftotal .textrentabprodazhtwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 540px;
    top: 500px;
    width: 200px;
    text-align: center;
}


/*======================== Рентабельность реализованных товаров 333333=============================*/
.rentabsalesprod .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 850px;
    top: 420px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;

}
.ftotal .textrentabsalesprod {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 850px;
    top: 440px;
    width: 300px;
    text-align: center;
}
.ftotal .textrentabsalesprodtwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 890px;
    top: 500px;
    width: 200px;
    text-align: center;
}


/*========================= Рентабельность продаж по чистой прибыли 44444============================*/

.rentabclear .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 1200px;
    top: 420px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;

}
.ftotal .textrentabclear {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 1225px;
    top: 440px;
    width: 250px;
    text-align: center;
}
.ftotal .textrentabcleartwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 1240px;
    top: 500px;
    width: 200px;
    text-align: center;
}

/*======================== Рентабельность оборотных активов 555555=============================*/
.rentabnooborotactiv .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 1550px;
    top: 420px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;

}
.ftotal .textrentabnooborotactiv {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 1575px;
    top: 440px;
    width: 250px;
    text-align: center;
}
.ftotal .textrentabnooborotactivtwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 1590px;
    top: 500px;
    width: 200px;
    text-align: center;
}


/*========================= Коэффициент валовой рентабельности ============================*/

.kfrentab .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 150px;
    top: 600px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;

}
.ftotal .textkfrentab {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 150px;
    top: 620px;
    width: 300px;
    text-align: center;
}
.ftotal .textkfrentabtwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 200px;
    top: 680px;
    width: 200px;
    text-align: center;
}

/*=========================== EBITDA ==========================*/

.ebitda .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 500px;
    top: 600px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;

}
.ftotal .textebitda {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 500px;
    top: 640px;
    width: 300px;
    text-align: center;
}
.ftotal .textebitdatwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 550px;
    top: 670px;
    width: 200px;
    text-align: center;
}
/*========================= ROI ============================*/
.roi .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 850px;
    top: 600px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;

}
.ftotal .textroi {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 850px;
    top: 640px;
    width: 300px;
    text-align: center;
}
.ftotal .textroitwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 900px;
    top: 670px;
    width: 200px;
    text-align: center;
}

/*======================== Рентабельность =============================*/
.rentab .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 1200px;
    top: 600px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;

}
.ftotal .textrentab {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 1200px;
    top: 640px;
    width: 300px;
    text-align: center;
}
.ftotal .textrentabtwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 1250px;
    top: 670px;
    width: 200px;
    text-align: center;
}

/*========================== Маржинальность ===========================*/
.marjin .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 1550px;
    top: 600px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;

}
.ftotal .textmarjin {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 1550px;
    top: 640px;
    width: 300px;
    text-align: center;
}
.ftotal .textmarjintwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 1600px;
    top: 670px;
    width: 200px;
    text-align: center;
}

/*========================== Маржинальность % ===========================*/
.marjinprocent .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 150px;
    top: 780px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;
}
.ftotal .textmarjinprocent {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 150px;
    top: 820px;
    width: 300px;
    text-align: center;
}
.ftotal .textmarjinprocenttwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 200px;
    top: 850px;
    width: 200px;
    text-align: center;
}

/*========================= Логистические затраты ============================*/
.logistics .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 500px;
    top: 780px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;

}
.ftotal .textlogistics {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 500px;
    top: 820px;
    width: 300px;
    text-align: center;
}
.ftotal .textlogisticstwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 550px;
    top: 850px;
    width: 200px;
    text-align: center;
}
/*========================== Затраты упаковка ===========================*/
.upakovka .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 850px;
    top: 780px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;

}
.ftotal .textupakovka {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 850px;
    top: 820px;
    width: 300px;
    text-align: center;
}
.ftotal .textupakovkatwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 900px;
    top: 850px;
    width: 200px;
    text-align: center;
}



/*========================== Выручка ===========================*/
.viruchka .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 1200px;
    top: 780px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;

}
.ftotal .textviruchka {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 1200px;
    top: 820px;
    width: 300px;
    text-align: center;
}
.ftotal .textviruchkatwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 1250px;
    top: 850px;
    width: 200px;
    text-align: center;
}


/*========================== Чистая прибыль ===========================*/
.clearprofit .rectangle {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 1550px;
    top: 780px;
    background: #30353E;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #15161A;

}
.ftotal .textclearprofit {
    position: absolute;
    color: #c4c4c4;
    font-size: 24px;
    left: 1550px;
    top: 820px;
    width: 300px;
    text-align: center;
}
.ftotal .textclearprofittwo {
    position: absolute;
    color: #CFC8FF;
    font-size: 34px;
    left: 1600px;
    top: 850px;
    width: 200px;
    text-align: center;
}


/*=====================================================*/
